# Environment variables
.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Raw large files
data/raw/*.zip

# PostgreSQL dumps
*.dump
*.backup
